* {
    padding: 10px;
    margin: 0;
    height: 500px;  
    width: 700px;   
}

#main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}
