* {
    padding: 10px;
    margin: 0;
    height: 500px;  
    width: 700px;   
}

  input {
    display: inline-block;
    width: 25px;
  }
  
  h1 {
    text-align: center;
    font-size: 4.5em;
  }
  
  h2 {
    font-size: 3em;
    text-align: center;
    padding: 75px;
  }
  
  h2 span {
    display: inline-block;
    width: 30%;
    height: 90px;
    font-size: 2em;
  }
  
  div#buttons {
  /*   margin: 0 auto; */
    text-align: center;
    padding: 0 0 25px;
  }
  
 div.userInput {
    margin: 0 center;
    text-align: center;
    padding: 5px;
  } 
#main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}
