<!doctype html> 
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Countdown</title>
    
	<h1><span>Countdown Timer</span></h1>
	</div>

<div id="canvas" class="container group">
    
    <div id="primaryContent" class="group">
    	<p>Input the time in minutes and click start</p>
	    <div id="inputArea"></div>
		<h2 id="time">00:00</h2>
        
        
    </div>
    <div id="secondaryContent">
    
    
    </div>
    
    </div>
   
    
<script src="script.js"></script>
</body>
</html>