<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countdown Timer</title>
  <link rel="stylesheet" href="./style.css">
  <style>
    html {
     height: 500px;  
     width: 700px;      
   }
</style>
</head>
<body>
    <div id="countdowntimer">
        <button id="Start" onclick="start();">Start Timer</button>
        H:<input type="text" id="hours" value="0" /> 
        M:<input type="text" id="minutes" value="0" />
        S:<input type="text" id="seconds" value="0" /><br>
        <div id="display"></div>
        <div id="message"></div>
      </div>

<script src="timer.js"></script>
</body>
</html>