style
body {
  min-width: 1005px;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

#main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}
.container{
    position: relative;
    margin-top: 5%;
}
#title{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.83);
    margin: 20px auto;
    padding: 0;

}
#time{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 20px auto 50px auto;
}
.function-buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reset-btn{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 150px;
    background: #eee;
    margin: 0 10px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    cursor: pointer;    
}
.reset-btn:hover{
    background: red;
    color: #fff;
}
.start-btn{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width: 150px;
    background: #eee;
    margin: 0 10px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.start-btn:hover{
    background: #0096ff;
    color: #fff;
}
