style
body {
background: aliceblue;
margin: 24px;
  min-width: 1005px;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

#main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.timer{
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: aliceblue;
}

.timer__part {
    font-size: 36px;
    font-weight: bold;
}

.timer_btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: blueviolet;
    cursor: pointer;
}

.timer__btn--start {
    background: green;
}

.timer__btn--stop {
    background: red;
}