style
body {
  min-width: 1005px;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

#main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}